.header {
  margin-top: 60px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.TitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.TitleLg {
  position: absolute;
  top: 20%;
  font-size: 80px;
}

.image {
  width: 100%;
  height: 450px;
}
