.header {
  margin-top: 60px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  color: #444;
}

.TitleSm {
  position: absolute;
  top: 10%;
  font-size: 20px;
  z-index: 10;
}

.TitleLg {
  position: absolute;
  top: 12%;
  font-size: 80px;
  z-index: 100;
}

.image {
  width: 100%;
  height: 450px;
  margin-top: 30px;
  object-fit: cover;
  opacity: 0.6;
}
