@import './variable.scss';

.background-profile {
  background-image: url('https://i.pinimg.com/564x/35/e5/7a/35e57a7d0b49a2e082f3e2cf844b47e5.jpg');
  width: 80vw;
  height: 100vh;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .forms {
    @include flexCenter(column, 10px);

    .labels {
      font-size: 16px;
      margin-top: 10px;
      font-weight: $boldText;
    }
    .inputs {
      width: $width;
      height: $height;
      border: none;
      box-shadow: 2px 1px 1px 1px #828282;

      &:focus {
        outline: none;
      }
    }

    .more-form-container {
      @include flexCenter(column, 30px);

      z-index: 2;
      margin-top: 100px;

      .edit-profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 10px;
        border: 2px solid white;
        box-shadow: 2px 2px 2px 2px #828282;
        margin-bottom: 20px;
        margin: 0 auto;
      }

      .email-password {
        @include flexCenter(column, 5px);
      }
      .button-containers {
        @include flexCenter(row, 2rem);

        .profile-buttons {
          width: 200px;
          height: 40px;
          border: 2px solid #828282;
          font-size: 15px;
          cursor: pointer;
          background-color: transparent;
          font-weight: $boldText;

          &:hover {
            transform: scale(1.1);
            box-shadow: 2px 1px 1px 1px #828282;
          }
        }
      }
    }
  }
}
