@import './variable.scss';

.background-profile {
  background-image: url('https://i.pinimg.com/564x/a6/4a/6c/a64a6cedea866ee10bb19d95a40d3885.jpg');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.form {
  @include flexCenter(column, 10px);
  position: relative;

  .more-form-container {
    @include flexCenter(column, 10px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 2;

    .edit-profile {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 10px;
      border: 2px solid white;
      box-shadow: 2px 2px 2px 2px #828282;
      margin-bottom: 20px;
      margin: 0 auto;
    }

    .profile-buttons {
      width: 150px;
      height: 30px;
      border: none;
      font-size: 15px;
      border-radius: 20px;
    }
    .email-password {
      @include flexCenter(column, 5px);
    }
    .button-containers {
      @include flexCenter(row, 5px);
    }
  }
}
