@import './variable';

// // take a block of codes and use it anywhere
// @mixin flexCenter($direction, $gap) {
//   // can re-use the flex direction with a different direction
//   display: flex;
//   flex-direction: $direction;
//   align-items: center;
//   justify-content: center;
//   gap: $gap;
// }

.form-container {
  @include flexCenter(column, 5px);
  // pass the column
  // can re-use them using include
  margin: auto;
  width: 50%;
  height: 80%;
  padding-top: 20px;

  // transform: translate(50x, -50px);
  // can nest the children classname inside the parent
  /*instead of writing .form-container .login-header {    font-size: 40px;
    color: $primaryColor;}
    
    */
  .form-header {
    font-size: 50px;
    color: white;
    padding-bottom: 30px;
    text-shadow: 2px 2px #000000;

    // copy and paste the variables
  }
  .email-password-container {
    @include flexCenter(column, 10px);

    padding-bottom: 10px;

    .labels {
      color: $grey;
      font-weight: $boldText;
      margin-bottom: 4px;
    }

    .inputs {
      width: $width;
      height: $height;
      border: none;
      box-shadow: 2px 2px 2px 2px #828282;
      margin-bottom: 10px;

      &:focus {
        outline: none;
      }
    }
  }
  .buttons {
    width: $width;
    height: $height;
    border: 2px solid #828282;
    background-color: transparent;
    color: $grey;
    font-weight: $boldText;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.1);
      box-shadow: 2px 2px 2px 2px #828282;
    }
  }

  .another-direction {
    @include flexCenter(row, 10px);
    .new-user {
      font-weight: $boldText;
    }
    .link-different-page {
      color: $primaryColor;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
